<div class="col-12 pl-0">
    <div class="form-group w-100">
        <label for="site-url"> <i class="fa  fa-internet-explorer" aria-hidden="true"></i>  Site URL</label>
        <input type="text"
               class="form-control w-100"
               id="site-url"
               [(ngModel)]='siteUrl'
               aria-describedby="emailHelp"
               placeholder="url"
        >
    </div>
    <div class="form-group w-100">
        <label for="site-login"><i class="fa fa-user" aria-hidden="true"></i>   Site Login/Email</label>
        <input type="text"
               class="form-control w-100"
               id="site-login"
               [(ngModel)]='siteLogin'
               aria-describedby="emailHelp"
               placeholder="login/email"
        >
    </div>
    <div class="form-group w-100">
        <label for="site-pass"><i class="fa fa-key" aria-hidden="true"></i>  Site Pass</label>
        <input type="text"
               class="form-control w-100"
               id="site-pass"
               [(ngModel)]='sitePass'
               aria-describedby="emailHelp"
               placeholder="password"
        >
    </div>
    <div class="form-group w-100">
        <label for="site-logo"><i class="fa fa-picture-o" aria-hidden="true"></i>  Site Logo</label>
        <input type="text"
               class="form-control w-100"
               id="site-logo"
               [(ngModel)]='siteImage'
               aria-describedby="emailHelp"
               placeholder="url logo"
        >
    </div>
    <button type="button" (click)='onAdd()' class="btn btn-lg btn-outline-primary"><i class="fa fa-plus" aria-hidden="true"></i> Add Site</button>
    <button type="button" (click)='onLoad()' class="btn btn-lg btn-outline-warning"><i class="fa fa-minus" aria-hidden="true"></i> Load Site</button>
</div>